{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "usage",
        "debug": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-2"
  ],
 "plugins":
      ["dynamic-import-node", "transform-class-properties", ["inferno", { "imports": true }], "syntax-jsx"]
          
}
